---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME, SOCIALS } from "@consts";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const projects: CollectionEntry<"projects">[] = (
  await getCollection("projects")
)
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h1 class="animate font-semibold text-black dark:text-white">
      Bruyere Casa
    </h1>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <span class="animate">
            <p>
              Bruyere Casa in the central homebase for all things Bruyere. Here you'll find the Bruyere mission statement, recipes, and knowledge share on a variety of topics.
            </p>
            <p>
              Whether you're seeking a family recipe, navigating the twists and turns of genealogy, or dreaming of the perfect abode, Bruyere Casa is your central home base – where tradition meets modernity, and connections flourish.
              Welcome to the Bruyere family circle – where every click is a step closer to the heart of our legacy.
            </p>
          </span>
          
        </article>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap items-center justify-between gap-y-2">
          <h2 class="font-semibold text-black dark:text-white">Latest posts</h2>
          <Link href="/blog"> See all posts </Link>
        </div>
        <ul class="not-prose flex flex-col gap-4">
          {
            blog.map((post) => (
              <li>
                <ArrowCard entry={post} />
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap items-center justify-between gap-y-2">
          <h2 class="font-semibold text-black dark:text-white">
            Recent projects
          </h2>
          <Link href="/projects"> See all projects </Link>
        </div>
        <ul class="not-prose flex flex-col gap-4">
          {
            projects.map((project) => (
              <li>
                <ArrowCard entry={project} />
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-4">
        <h2 class="font-semibold text-black dark:text-white">Bruyere Mission Statement</h2>
        <article>
          <p>
            As the Bruyere family, we are dedicated to honoring God above all, recognizing His sovereignty in every aspect of our lives. We are committed to using our God-given talents to create a better world and to serve others. In everything we do, we strive to reflect His grace and truth.</p>

<p>We honor the Bruyere namesake by upholding the values of respect, kindness, and accountability. We pledge to respect ourselves and others by being mindful of what we put into our bodies, understanding that our health is a gift from God that we must steward wisely. </p>

<p>We are also committed to being thoughtful and uplifting in our speech, recognizing the power of our words to build up or tear down.
In our daily lives, we seek to embody the virtues of honesty, diligence, and humility, knowing that our actions speak louder than words. By living out these principles, we aim to be a shining light in our community, inspiring others to do the same and ultimately bringing glory to God.</p>
<p>Together, as a family, we support one another in our individual and collective pursuits, always striving to grow in faith, love, and service. This is our mission, our commitment, and our prayer.</p>
          </p>

          <p>
            
          </p>
        </article>
      </section>
    </div>
  </Container>
</Layout>
